.banner {
    background: rgb(44, 50, 55);
    height: 30em;
}

.banner_content {
    display: flex;
    flex-direction: column;
}

.banner_label {
    text-align: center;
    font-size: calc(0.7rem + 5vw);
    color: #ffffff;
    margin-top: 70px;
}

.banner_label_button_part {
    margin-top: 0;
}

.banner_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    margin: 0 auto;
    max-width: 450px;
}

.banner_button {
    margin: 5px 10px;
    padding: 15px 30px;
    border: 2px #ffffff solid;
    color: white;
    z-index: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3em;
    font-family: Helmetica, Arial, sans-serif;
    font-weight: bold;
}

.banner_button:hover {
    background-color: #ffffff;
    color: #1b1f23;
    transition: all 600ms ease;
}

@media screen and  (max-width: 1100px) and  (min-width: 500px) {

    .banner {
        background: rgb(44, 50, 55);
        height: 25em;
    }

}