body {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: calc(8px + 1vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Helmetica', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

